<div class='col-lg-6'>
  <div class='well'>
    <% if @comic %>
       <% if @comic.errors.any? %>
         <div id="error_explanation">
           <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

           <ul>
           <% @comic.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
           </ul>
         </div>
       <% end %>
     <% end %>

     <form action="/comics/create">
      <div class="form-group">
      <%= label_tag 'title' %>
      <%= text_field_tag 'title', nil, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag 'description' %>
      <%= text_field_tag 'description', nil, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= label_tag 'image_url' %>
      <%= text_field_tag 'image_url', nil, class: 'form-control' %>
    </div>
    
    <div class="actions">
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>
    </form>

  </div>
</div>


  <!-- 
  create label tag & text field:
  http://guides.rubyonrails.org/form_helpers.html#helpers-for-generating-form-elements 

  exmaples:
  http://apidock.com/rails/ActionView/Helpers/FormTagHelper/label_tag
  http://apidock.com/rails/ActionView/Helpers/FormTagHelper/text_field_tag
  http://apidock.com/rails/ActionView/Helpers/FormTagHelper/submit_tag
  -->
