<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Comic Bin</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Oswald:400,700' %>
    <%= csrf_meta_tags %>
  </head>


  <body>
    <div class='container'>
      <div class='page-header'>
        <%= link_to 'Add a comic book', new_comic_path, class: 'btn btn-success pull-right add' %>
        <%= link_to 'View all comics', comics_path, class: 'btn btn-primary pull-right add' %>
        <h1 class='logo'>Comic Bin</h1>
      </div>
      <%= yield %>
    </div>
  </body>

</html>
